<div id="branch_list">
  <p>This application can create a new tag and make changes to branch configuration.</p>
  <p id="usage">Use navigation links at the top.</p>
  
  <h3>For a new production release:</h3> 
  <p id="usage">Greate a new tag with the most recent code from trunk using Tags New page<br>
  Set a branch configuration for production or other pop to use newelly created tag throught Release New page.
  <p>
  Upcomming tag: <%= gen_tag_name %>
</div>


