<!DOCTYPE html>
<html>
<head>
  <title> Puppet code release. </title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
</head>
<body>
  <div id="page">
    
    <div id="header">
      <span id="logo">
        <a href="/"><img src="/white_spk_logo.gif" style="border: none"></a>
        
        <% my_routes.each do |route| %>
          <a href="/<%= route.join("/") %>" class="menuItem">
           < <%= route.map {|r| r.capitalize}.join(" ") %> >
          </a>
        <% end %>
      </span>

      <h2><%= @headline %></h2>
      
    </div>
    <!-- <div style="clear: both;"></div> -->
    
    <!-- <div class="content"> -->
      <%= yield %>
    <!-- </div> -->
       
    <div id="footer">
    2010 Speakeasy, Inc.
    </div>
    
  </div>
</body>

</html>
